select {
    border-radius: 15px;
    background-color: cornsilk;
    color: silver;
    margin-top: 25px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    font-weight: bold;
}